<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nothing Social</title>
    <!-- Importing CSS -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <!-- Header -->
    <h1>Nothing Social</h1>
    
    <!-- NavBar -->
    <%- include('partials/navbar.ejs') %>

    <h3>Latest Posts</h3>

    <!-- add at least 6 users and posts on database for this code to work OR change the i < "number" to 0. -->
    <% for (let i = 0; i < 3; i++) { %>
        <div>
            <a href="/posts/<%=posts[i]._id%>"><div><img src="<%=posts[i].image%>" alt="Post Image" class="post-img"></div></a>
            <div><%=posts[i].description%></div>
    
            <a href="/users/<%=posts[i].user._id%>">
                <div><img src="<%=posts[i].user.profilePic%>" class="profile-pic"></div>
                <div><%=posts[i].user.username%></div>
            </a>
        </div>
    <% } %>    

    <h3>Latest Users</h3>
       <% for (let i = 0; i < 2; i++) { %>
        <div>
            <a href="/users/<%=users[i]._id%>">
                <div><img src="<%=users[i].profilePic%>" alt="User Profile Pic" class="profile-pic"></div>
                <div><%=users[i].username%></div>
                <div><%=users[i].bio%></div>
            </a>
        </div>
    <% } %>    
</body>
</html>