<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%=user.username%>'s Profile</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>Edit <%=user.username%>'s Profile</h1>
    <!-- NavBar -->
    <%- include('../partials/navbar.ejs') %>

    <form action="/users/<%=user._id%>?_method=PUT" method="POST">
        <div>Username</div>
        <input type="text" name="username" value="<%=user.username%>"><br>
        <div>Bio</div>
        <textarea name="bio" value="<%=user.bio%>"></textarea><br>
        <button type="submit">Edit Profile</button>
    </form>



</body>
</html>