<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%=user.username%>'s Profile</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>Edit <%=user.username%>'s Profile</h1>
    <!-- NavBar -->
    <div>
        <div><a href="/">Home</a></div>
        <div><a href="/users/new">Log In / Register</a></div>
        <div><a href="/users/index">Users Index</a></div>
        <div><a href="/users/settings">Settings</a></div>
        <h2><%=loggedUser%></h2>
        <div>
            <form action="/users/logout" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </div>
    </div>

    <form action="/users/<%=user._id%>?_method=PUT" method="POST">
        <div>Username</div>
        <input type="text" name="username" value="<%=user.username%>"><br>
        <div>Bio</div>
        <textarea name="bio" value="<%=user.bio%>"></textarea><br>
        <button type="submit">Edit Profile</button>
    </form>



</body>
</html>