<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nothing Social | Users</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>Nothing Social</h1>
    <!-- NavBar -->
    <%- include('../partials/navbar.ejs') %>




    <% for (let i = 0; i < users.length; i++) { %>
    <div class="users-container">
                <a href="/users/<%=users[i]._id%>">
                    <img src="<%=users[i].profilePic%>" class="profile-pic">
                    <div><%=users[i].username %></div>
                    <h4>Bio</h4> 
                    <div><%=users[i].bio %></div>
                </a>
    </div>
    <% } %>


    

</body>
</html>