<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Index</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>Users Index</h1>
    <!-- NavBar -->
    <%- include('../partials/navbar.ejs') %>




    <% for (let i = 0; i < users.length; i++) { %>
    <div>
                <div>--------</div>
                <a href="/users/<%=users[i]._id%>">
                    <h3>Username</h3> 
                    <img src="<%=users[i].profilePic%>" class="profile-pic">
                    <div><%=users[i].username %></div>
                    <h3>Bio</h3> 
                    <div><%=users[i].bio %></div>
                </a>
                <div>--------</div>
    </div>
    <% } %>


    

</body>
</html>