<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>User Settings</h1>
    <!-- NavBar -->
    <%- include('../partials/navbar.ejs') %>


    <a href="/users/<%=user._id%>/edit"><div>Edit Profile</div></a>
    <a href="/users/<%=user._id%>/delete"><div>Delete Profile</div></a>

    <img src="<%=user.profilePic%>" class="profile-pic"><div><%=user.username%></div>
    <div><%=user.username%></div>
    <div>Bio</div>
    <div><%=user.bio%></div>

    <div class="container">    
        <% for (let i = 0; i < user.posts.length; i++) { %>
            <div><a href="/posts/<%=user.posts[i]._id%>"><img src="<%=user.posts[i].image%>" alt="Post Image" class="post-img"></a></div>
        <% } %>
    </div>

</body>
</html>