<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nothing Social | <%=user.username%></title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1><%=user.username%> 's Profile</h1>
    <!-- NavBar -->
    <div>
        <div><a href="/">Home</a></div>
        <div><a href="/users/new">Log In / Register</a></div>
        <div><a href="/users/index">Users Index</a></div>
        <div><a href="/users/settings">Settings</a></div>
        <h2><%=loggedUser%></h2>
        <div>
            <form action="/users/logout" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </div>
    </div>

    <div><%=user%></div>
    <div><%=user.username%></div>
    <div>Bio</div>
    <div><%=user.bio%></div>
    <div><%=user.posts%></div>

    
</body>
</html>