<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nothing Social | <%=user.username%></title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1><%=user.username%> 's Profile</h1>
    <!-- NavBar -->
    <%- include('../partials/navbar.ejs') %>

    <div><%=user%></div>
    <div><%=user.username%></div>
    <div>Bio</div>
    <div><%=user.bio%></div>
    <div><%=user.posts%></div>

    
</body>
</html>