<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post's Index</title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>Nothing Social</h1>
    <!-- NavBar -->
    <%- include('../partials/navbar.ejs') %>

    <% for (let i = 0; i < posts.length; i++) { %>
        <div>
            <div><img src="<%=posts[i].image%>" alt="Post Image" class="post-img"></div>
            <div><%=posts[i].description%></div>
    
            <a href="/users/<%=posts[i].user._id%>">
                <div><img src="<%=posts[i].user.profilePic%>" class="profile-pic"></div>
                <div><%=posts[i].user.username%></div>
            </a>
        </div>
    <% } %>

</body>
</html>