<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nothing Social | <%=post.user.username%></title>
    <!-- Importing Css -->
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
</head>
<body>
    <h1>Nothing Social</h1>
    <!-- NavBar -->
    <%- include('../partials/navbar.ejs') %>

    <div><a href="/posts/<%=post._id%>/edit">Edit Description</a></div>
    <div><a>Delete Post</a></div>

    <div>
        <div><img src="<%=post.image%>" alt="Post Image" class="post-img"></div>
        <div><%=post.description%></div>

        <a href="/users/<%=post.user._id%>">
            <div><img src="<%=post.user.profilePic%>" class="profile-pic"></div>
            <div><%=post.user.username%></div>
        </a>
    </div>




</body>
</html>